:root {
  --controls-height: 3em;
  --background: #202124;
  --middleground: #777777;
  --foreground: #e5e5e5;
  --full: calc(var(--vh, 1vh) * 100);
  --limit: 600px;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.unsupported {
  text-align: center;
}
.unsupported a {
  color: white;
  font-weight: bold;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.container {
  position: relative;
  height: var(--full);

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  width: 100%;
  max-width: var(--limit);
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.invisible {
  opacity: 0;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--controls-height));
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.controls {
  position: relative;
  flex-grow: 0;
  height: var(--controls-height);
  overflow: hidden;
  width: 100%;
}

.controls i {
  --size: 2em;
  --padding: 0.3em;

  position: relative;
  font-size: var(--size);
  padding: 0 var(--padding);
  cursor: default;
}

.controls.help .material-icons {
  font-size: 1em;
  padding-bottom: 1em;
  width: calc((var(--padding) * 4) + var(--size));
  text-align: center;
  margin: 0;
}

.controls.help .material-icons::after {
  content: attr(title);
  position: absolute;
  font-size: 0.8em;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  overflow: visible;
  display: block;
  font-family: sans-serif;
  text-align: center;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--background);
  user-select: none;
}

/* MENU */

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 10;
}

.menu > ul {
  position: absolute;
  bottom: 0;
  background: var(--background);
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px 5px 0 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  padding: 20px;
}

.menu > ul > li > i {
  padding-right: 0.5em;
}

/* TOAST STYLE */

.toastify.toastify.toastify {
  max-width: calc(100% - 20px);
  text-align: center;
}

/* INTRO */

.intro {
  text-align: center;
}

.intro i {
  font-size: 6rem;
}

/* MISC */

img {
  max-height: 50%;
}
